@font-face {
  font-family: 'iconfont';  /* project id 715615 */
  src: url('//at.alicdn.com/t/font_715615_ep4f94xwls.eot');
  src: url('//at.alicdn.com/t/font_715615_ep4f94xwls.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_715615_ep4f94xwls.woff') format('woff'),
  url('//at.alicdn.com/t/font_715615_ep4f94xwls.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_715615_ep4f94xwls.svg#iconfont') format('svg');
}