$anyRed: #c62f2f;//整体色调
$inputRed: #A82828;//暗红
$white:#fff;//白色
html, body, div, span, h1, h2, h3, p, img, i, ul, li, label,
footer, header, time, mark, audio, video {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  font-size: 1.4rem;
  overflow: hidden;
}

.mbody{
  .menu{
    border-bottom:1px solid #E1E1E2;
    overflow: hidden;
    margin:0 5rem;
    text-align: center;
    li{
      display: inline-block;
      list-style-type: none;
      padding: 1rem 3rem;
      cursor: pointer;
    }
  }
  .active{
    border-bottom:2px solid #C62F2F;
  }
}